html {
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
}

button {
  cursor: pointer;
}

body {
  display: grid;
  grid-template-columns: 0.15fr 0.85fr;
  grid-template-rows: 0.2fr 0.8fr;
  grid-template-areas:
    "NAV HEADER"
    "NAV MAIN";
}

/* NAVBAR */
#nav {
  grid-area: NAV;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  padding: 0 1rem;
  background-color: #178fd2;
  color: white;

  height: 100%;
}

#nav img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%);
}

#page--title {
  display: flex;
  gap: 5px;
}

#logo {
  width: 48px;
}

#nav > ul {
  list-style-type: none;
  padding: 5px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}
#nav > ul > li {
  display: flex;
  align-items: center;
  gap: 15px;

  font-weight: 600;
  font-size: 1.2rem;
}
/* HEADER */
#header {
  grid-area: HEADER;
  padding: 1rem 2rem;
}

#header--top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

#header--bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#searchbar {
  display: flex;
  align-items: center;
  gap: 1rem;

  flex-grow: 1;
}
#search {
  resize: none;
  border-radius: 1rem;
  background-color: #e2e8f0;

  width: 75%;
}

#user--section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#profile > img {
  width: 4rem;
  border-radius: 2rem;
}

#profile > p {
  font-weight: 600;
}

#welcome--section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#welcome--section > img {
  width: 6rem;
  border-radius: 3rem;
}

#text--content {
  display: flex;
  flex-direction: column;
}

#text--content > h1 {
  margin: 0;
}

#text--content > h3 {
  margin: 0;
}

#action--buttons {
  display: flex;
  gap: 1.5rem;
}

#action--buttons > button {
  color: white;
  background-color: #178fd2;
  border: none;
  width: 6rem;
  height: 2.5rem;
  border-radius: 2rem;

  font-weight: 600;
  font-size: 1rem;
}

/* MAIN */
#main {
  grid-area: MAIN;
  padding: 20px;
  background-color: #e2e8f0;

  display: grid;
  grid-template-columns: 0.7fr 0.3fr;
  grid-template-rows: 0.5fr 0.5fr;
  grid-template-areas:
    "PROJECTS ANNOUNCEMENTS"
    "PROJECTS TRENDING";

  gap: 2rem;
}

/* PROJECTS SECTION */
#projects--container {
  grid-area: PROJECTS;
}

#projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

  gap: 2rem;
}

/* PROJECT CARD */
.project {
  display: flex;
  flex-direction: column;

  background-color: white;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 5px grey;
}

.project > .buttons {
  align-self: end;
}

.buttons > button {
  border: none;
  background-color: white;
}

.project > h3 {
  margin: 0;
}

/* ANNOUNCEMENTS SECTION */
#announcements--container {
  grid-area: ANNOUNCEMENTS;
}

#announcements {
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 5px grey;
}

.announcement > p {
  color: rgb(73, 73, 73);
}

/* TRENDING SECTION */
#trending--container {
  grid-area: TRENDING;
}

#people {
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 5px grey;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* PERSON CARD */
.person {
  display: flex;
  align-items: center;
  gap: 10px;
}

.person > img {
  width: 4rem;
  border-radius: 2rem;
}

.person--description > h3 {
  margin: 0;
}
.person--description > p {
  color: rgb(73, 73, 73);
  margin: 0;
}
