html {
  font-family: Roboto, sans-serif;
}

/* PROJECT CARD */
.project {
  display: flex;
  flex-direction: column;
}

.project > .buttons {
  align-self: end;
}

/* PERSON CARD */
.person {
  display: flex;
  align-items: center;
  gap: 10px;
}

.person > img {
  width: 4rem;
  border-radius: 2rem;
}

.person--description > h3 {
  line-height: 0.5;
}
.person--description > p {
  color: rgb(73, 73, 73);
}
