html {
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
}

/* NAVBAR */
#nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  background-color: #178fd2;
  color: white;

  height: 100%;
}

#nav img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%);
}

#page--title {
  display: flex;
  gap: 5px;
}

#logo {
  width: 48px;
}

#nav > ul {
  list-style-type: none;
  padding: 5px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}
#nav > ul > li {
  display: flex;
  align-items: center;
  gap: 15px;

  font-weight: 600;
  font-size: 1.2rem;
}
/* HEADER */
#header {
  padding: 1rem 2rem;
}

#header--top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

#header--bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#searchbar {
  display: flex;
  align-items: center;
  gap: 1rem;

  flex-grow: 1;
}
#search {
  resize: none;
  border-radius: 1rem;
  background-color: #e2e8f0;

  width: 75%;
}

#user--section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#profile > img {
  width: 4rem;
  border-radius: 2rem;
}

#profile > p {
  font-weight: 600;
}

#welcome--section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#welcome--section > img {
  width: 6rem;
  border-radius: 3rem;
}

#text--content {
  display: flex;
  flex-direction: column;
}

#text--content > h1 {
  line-height: 0;
}

#text--content > h3 {
  line-height: 0;
}

#action--buttons {
  display: flex;
  gap: 1.5rem;
}

/* MAIN */
#main {
  padding: 20px;
  background-color: #e2e8f0;
}

/* PROJECTS SECTION */
#projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/* PROJECT CARD */
.project {
  display: flex;
  flex-direction: column;
}

.project > .buttons {
  align-self: end;
}

/* ANNOUNCEMENTS SECTION */
.announcement > p {
  color: rgb(73, 73, 73);
}

/* PERSON CARD */
.person {
  display: flex;
  align-items: center;
  gap: 10px;
}

.person > img {
  width: 4rem;
  border-radius: 2rem;
}

.person--description > h3 {
  line-height: 0.5;
}
.person--description > p {
  color: rgb(73, 73, 73);
}
